---
layout: base
body_id: interior-page
---
<div id="header">
  <h1><a href="{{ site.baseurl }}">Paul Kulyk</a></h1>
  <ul>
    <li>
      <a class="core-nav icon-quill" href="/blog" title="Paul Kulyk - Blog"></a>
    </li>
    <li>
      <a class="core-nav icon-twitter" href="http://twitter.com/ve5pkx" title="Paul Kulyk - ve5pkx on Twitter"></a>
    </li>
    <li>
      <a class="core-nav icon-github" href="http://github.com/asclepius" title="Paul Kulyk - asclepius on GitHub"></a>
    </li>
    <li>
      <a class="core-nav icon-linkedin" href="http://ca.linkedin.com/pub/paul-kulyk/78/975/113/" title="Paul Kulyk - LinkedIn"></a>
    </li>
    <li>
      <a class="core-nav icon-info" href="/about.html" title="Paul Kulyk - About"></a>
    </li>
    <li>
      <a class="core-nav icon-feed" href="http://feeds.feedburner.com/paulkulyk" title="Paul Kulyk - Atom/RSS Feed"></a>
    </li>
  </ul>
</div>
<div style="clear:both"></div>
<div id="content">

  {{ content }}

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40401977-1', 'github.com');
  ga('send', 'pageview');

</script>
