---
layout: base
body_id: interior-page
---
<div id="header">
  <ul>
    <li>
      <a class="core-nav icon-quill-2" href="/blog" title="Paul Kulyk - Blog"></a>
    </li>
    <li>
      <a class="core-nav icon-feed" href="http://feeds.feedburner.com/paulkulyk" title="Paul Kulyk - Atom/RSS Feed"></a>
    </li>
    <li>
      <a class="core-nav icon-twitter" href="http://twitter.com/ve5pkx" title="Paul Kulyk - ve5pkx on Twitter"></a>
    </li>
    <li>
      <a class="core-nav icon-github" href="http://github.com/asclepius" title="Paul Kulyk - asclepius on GitHub"></a>
    </li>
    <li>
      <a class="core-nav icon-info-2" href="/about.html" title="Paul Kulyk - About"></a>
    </li>
    <li>
      <a class="core-nav icon-search" id="search-icon" href="#" title="Search asclepius.github.com"></a>
    </li>
  </ul>
  <div style="clear:both"></div>
  <div id="search">
    <form action="http://www.google.com/cse" id="cse-search-box" style="display:none;">
      <div>
        <input type="hidden" name="cx" value="001652393842387460493:oof-xpbgn7y" />
        <input type="hidden" name="ie" value="UTF-8" />
        <input type="text" name="q" width="100%"/>
        <input type="submit" name="sa" value="Search" />
      </div>
    </form>
    <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
  </div>
</div>
<div style="clear:both"></div>
<div id="content">

  {{ content }}

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40401977-1', 'github.com');
  ga('send', 'pageview');

</script>
