---
layout: default
post_title_label: " [asclepius.github.com]"
---
<div id="post">
  <h1><a href="{{ page.url }}" title="{{ page.title | xml_escape }}{{ page.post_title_label }}">{{page.title}}</a></h1>

  {% if page.date != null %}
    <span class="published_on">
      Published on {{ page.date | date: "%A, %B %d, %Y" }}

      {% if page.tags != null %}
        in
        {% for tag in page.tags %}
          {% if forloop.last and forloop.length > 1 %} and {% endif %}
          <a href="#" class="tag">{{tag | downcase}}</a>{% if forloop.last == false and forloop.length > 2 %}, {% endif %}
        {% endfor %}
      {% endif %}
     </span>
   {% endif %}

  {{ content }}
</div>

<hr />

<hr />

<div id="disqus">
  <a name="comments"></a>
  <div id="disqus_thread"></div><script type="text/javascript" src="http://disqus.com/forums/paulkulyk/embed.js"></script><noscript>Blog comments powered by Disqus. <a href="http://paulkulyk.disqus.com/?url=ref">View the discussion thread.</a></noscript>
</div>
